@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
  /* Root element thường dựa vào giá trị phần tử gốc của html( thông thường là 16px, chúng ta có thể custom dùng font-size
  để làm mặc định)
  font-size: 20px; */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
